{% extends "::base.html.twig" %}
{% block content %}
<div id="jobs">
    <table class="jobs">
    {% for job in entities %}
    <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
    <td class="location">{{ job.location }}</td>
    <td class="position">
      <a href="{{ path('job_show', { 'id': job.id, 'slug': job.slug }) }}">
        {{ job.position}}
      </a>
    </td>
    <td class="company">{{ job.company }}</td>
    </tr>
    {% endfor %}      
    </table>
</div>
{% endblock %}

