{% extends "::base.html.twig" %}
{% block title %}
{{ entity.company }} is looking for a {{ entity.position }}
{% endblock %}
{% block content %}
<div id="job">
  <h1>{{ entity.company }}</h1>
  <h2>{{ entity.location }}</h2>
  <h3>
    {{ entity.position }}
    <small>{{ entity.type|formatType }}</small>
  </h3>
  {% if (entity.logo) %}
    <div class="logo">
      <a href="{{ entity.url }}">
        <img src="{{ asset('uploads/jobs/' ~ entity.logo) }}""
          alt="{{ entity.company }} logo" />
      </a>
    </div>    
  {% endif %}
  <div class="description">
    {{ entity.description }}
  </div>
  <h4>How to apply?</h4>
  <p class="how_to_apply">{{ entity.howToApply }}</p>
  <div class="meta">
    <small>posted on {{ entity.createdAt|date("m/d/Y") }}</small>
  </div> 
  <div style="padding: 20px 0">
     <a href="{{ path('job_edit', { 'id': entity.id }) }}">Edit</a>
     <a href="{{ path('job') }}">Back</a>
     <form action="{{ path('job_delete', { 'id': entity.id }) }}" method="post">
         {{ form_widget(delete_form) }}
         <button type="submit">Delete</button>
     </form>
  </div>
</div>
{% endblock %}