{% extends 'form_table_layout.html.twig' %}

{% block field_row %}
    <tr class="form_row">
        <th>{{ form_label(form) }}</th>
        <td>{{ form_widget(form) }}{{ form_errors(form) }}</td>
    </tr>
{% endblock field_row %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="error_list">
        {% for error in errors %}
            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}
{% block _job_type_row %}
    <tr class="form_row">
        <th>{{ form_label(form) }}</th>
        <td>
			{{ form_widget(form) }}
			{% if errors|length > 0 %}
			    <ul class="error_list">
			        {% for error in errors %}
			            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
			        {% endfor %}
			    </ul>
		    {% endif %}        
        </td>
    </tr>
{% endblock %}
